
@import "~iview/src/styles/custom";
@import "~iview/src/styles/mixins/index";
@import "~iview/src/styles/common/index";

// =========== @import "~iview/src/styles/animation/index"; ===========
.motion-common() {
    animation-duration: @animation-time;
    animation-fill-mode: both;
}
.make-motion(@className, @keyframeName) {
    .@{className}-enter-active, .@{className}-appear {
        .motion-common();
        animation-play-state: paused;
    }
    .@{className}-leave-active {
        .motion-common();
        animation-play-state: paused;
    }
    .@{className}-enter-active, .@{className}-appear {
        animation-name: ~"@{keyframeName}In";
        animation-play-state: running;
    }
    .@{className}-leave-active {
        animation-name: ~"@{keyframeName}Out";
        animation-play-state: running;
    }
}
@import "~iview/src/styles/animation/fade";
// @import "~iview/src/styles/animation/move";
// @import "~iview/src/styles/animation/ease";
@import "~iview/src/styles/animation/slide";
.collapse-transition {
    transition: @transition-time height ease-in-out, @transition-time padding-top ease-in-out, @transition-time padding-bottom ease-in-out;
}

// =========== @import "~iview/src/styles/components/index"; ===========
// @import "~iview/src/styles/components/affix";
// @import "~iview/src/styles/components/alert";
// @import "~iview/src/styles/components/back-top";
// @import "~iview/src/styles/components/badge";
@import "~iview/src/styles/components/button";
// @import "~iview/src/styles/components/card";
// @import "~iview/src/styles/components/carousel";
@import "~iview/src/styles/components/cascader";
@import "~iview/src/styles/components/checkbox";
// @import "~iview/src/styles/components/circle";
// @import "~iview/src/styles/components/collapse";
@import "~iview/src/styles/components/date-picker";
// @import "~iview/src/styles/components/dropdown";
@import "~iview/src/styles/components/form";
@import "~iview/src/styles/components/input";
@import "~iview/src/styles/components/input-number";
@import "~iview/src/styles/components/loading-bar";
// @import "~iview/src/styles/components/menu";
// @import "~iview/src/styles/components/message";
@import "~iview/src/styles/components/modal";
// @import "~iview/src/styles/components/notice";
// @import "~iview/src/styles/components/page";
// @import "~iview/src/styles/components/poptip";
// @import "~iview/src/styles/components/progress";
@import "~iview/src/styles/components/radio";
// @import "~iview/src/styles/components/rate";
@import "~iview/src/styles/components/select";
@import "~iview/src/styles/components/select-dropdown";
@import "~iview/src/styles/components/slider";
// @import "~iview/src/styles/components/spin";
// @import "~iview/src/styles/components/steps";
@import "~iview/src/styles/components/switch";
// @import "~iview/src/styles/components/table";
// @import "~iview/src/styles/components/tabs";
// @import "~iview/src/styles/components/tag";
@import "~iview/src/styles/components/time-picker";
// @import "~iview/src/styles/components/timeline";
@import "~iview/src/styles/components/tooltip";
@import "~iview/src/styles/components/transfer";
// @import "~iview/src/styles/components/tree";
// @import "~iview/src/styles/components/upload";
